.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(150px, auto);
    
  }
  .one {
    grid-column: 1/1;
    grid-row: 1;
    background-color: yellow;
  }
  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    background-color: green;
  }
  .three {
    grid-column: 1;
    grid-row: 2/6;
    background-color: orange;
  }
  .four {
    grid-column: 3;
    grid-row: 3;
    background-color: blue;
  }
  .five {
    grid-column: 2;
    grid-row: 3/6;
    background-color: red;
  }
  .six {
    grid-column: 3;
    grid-row: 5/6;
    background-color: blanchedalmond;
  }
  .seven {
    grid-column: 4;
    grid-row: 1/6;
    background-color: rgb(212, 18, 134);
  }
  .eight {
    grid-column: 3;
    grid-row: 5/4;
    background-color: rgb(105, 169, 113);
  }