/* root font size: */
html {
	font-size: 1.25em; 
}
universal selector
* {
	box-sizing: border-box;
}
img {
    width: 100%;
    max-width: 600px;
}
section {
    height: 100vh; 
    /*or  min-height: 100vh; --for responsive layout */ 
}
figure {
    position: relative;
    margin: 0;
}
figcaption {
    position: absolute;
    width: 100%;
    text-align:center;
}
figure, aside img {
    width: 100%;
    max-width: 480px;
}

/*mobile first*/
.small-img {
    width: 100%;
}
@media screen and (min-width: 600px) {
    .small-img {
        float: left;
        width: 300px;
        margin: 0 1rem 1rem 0;
    }
    .clear [
        clear: both;
    ]
}
/* to organize css */

/* Web Fonts ------------- */

/* Base Styles ----------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 1.25em; /* 20px on most screens / default screen font-size is 16px*/
} 
body {
    font-family: 'Work Sans', sans-serif; /* imported from google fonts */
    color: #454959; /* or #777 */
    font-weight: 300;
    line-height: 1.5;
    font: 300 100%/1.5 'Work Sans', sans-serif; /* font shorthand found at css.tricks.com */
    /* the 100% refers back to the root font size which is 20px */
}
h1, h2 {   /* to avoid inheriting the attribute of parent element */
    font-family: 'Abolition Regular', Impact, Charcoal, sans-serif;
    font-weight: normal;
    line-height: 1.1;
}
img {
    width: 100%; /* responsive images */
}
/* Main Styles -------------------*/

/* Media Queries ----------------*/
#wildlife { /* a good example of box-shadow application */
    padding: 20% 15%;
    border-top: 12px solid #f3753b;
    background-color: #454959;
    color: white;
    box-shadow: inset 0 0 20px 10px rgba(0,10,30,.8);
    /* or box-shadow: 1px 2px 3px rgba(0,10,30,.5); */
    background: url() center / cover no-repeat #454959; /*positioning the image at mobile view */
    background-blend-mode: multiply;
}
/* ----------------------------------------------*/
.header {
    height: 95vh;
    background-image: linear-gradient(
        rgba(126, 213, 111, 0.8),
        rgba (40, 180, 131, 0.8),
        url());
        background-size: cover;
        background-position: top;
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        /* 75vh will change dynamically to the viewport height */
}

text-box { /* to center an element vertically and horizontally wrapped in a div relative to its parent */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}